<nav class="d-flex justify-content-center pt-4 my-5">
  <ul class="pagination shadow">
    <li class="page-item">
      <a class="page-link bg-body-tertiary" href="#">Geri</a>
    </li>
    <li class="page-item">
      <a class="page-link active" href="#">1</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link bg-body-tertiary" href="#">İleri</a>
    </li>
  </ul>
</nav>
