<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#4285f4" />
  <title><%= title %></title>
  <link href="/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/css/scroll.css" />
  <link rel="stylesheet" href="/static/css/scale.css" />
  <link rel="stylesheet" href="/static/css/ck-editor.css" />
</head>
