<div class="list-group">
  <a
    href="/user/products/categories/<%= category.id %>"
    class="list-group-item list-group-item-action mb-1 shadow-sm scale-max <%= selectedCategory == category.id ? 'active': '' %>">
    <%= category.name %>
  </a>
</div>
