<div class="col-md-4">
  <div class="card shadow">
    <img
      src="<%= product.image %>"
      class="card-img-top"
      alt="..."
      loading="lazy" />
    <div class="card-body">
      <h4 class="card-title">
        <a
          href="#"
          class="link-underline link-underline-opacity-0 link-underline-opacity-50-hover">
          <%= product.name %>
        </a>
      </h4>
    </div>
    <div class="card-footer">
      <small class="text-muted">
        <i class="fa fa-try"></i>
        <strong><%= product.price %></strong>
      </small>
      <a href="#" class="btn btn-primary float-end">
        <i class="fa fa-shopping-cart"></i>
        Add to Cart
      </a>
    </div>
  </div>
</div>
