doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet" href="../style.css")
        // <link rel="stylesheet", href="style.css"> ile aynıdır
        
        style.
            body{
                background: red;
            }
        // dosya içi css
        
    body
        // satır içi css
        p(style="color:blue") Lorem ipsum dolor sit amet.

        // satır içi js
        script.
            alert("Hello World")
        // <script>alert("Hello World")</script> ile aynıdır