doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
    body
        h1#myTitle My title 
        // <h1 id="myTitle"> My title </h1>

        p.my-class 
            |My class 
        // <p class="my-class">
        //     My class
        // </p>

        .random-class 
            |Random class
        // <div class="random-class">
        //     Random class
        // </div>
        // sadece class adı yazarsak default olarak div elementi oluşur