<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <% users.forEach(user => { %> <% if (user.age > 18) { %>
    <p><%= user.name %> is an <strong>adult</strong></p>
    <% } else { %>
    <p><%= user.name %> is a <strong>child</strong></p>
    <% } %> <% }) %>
  </body>
</html>
